# using a list of a list to represent structured data.

In [ ]:
allRawScores = [
  [42, 71, 39],
  [5, 73, 89],
  [28, 11, 64],
  [29, 69, 3],
  [33, 88, 9],
  [100, 73, 45],
  [43, 17, 26],
  [84, 56, 70],
  [63, 14, 11],
  [94, 12, 35]]

# Get the averaged score of each student with `for-loop`

In [ ]:
courseScores=[]
for rawScore in allRawScores:
  total=sum(rawScore)
  average=total/len(rawScore)
  courseScores.append(average)
courseScores

[50.666666666666664,
 55.666666666666664,
 34.333333333333336,
 33.666666666666664,
 43.333333333333336,
 72.66666666666667,
 28.666666666666668,
 70.0,
 29.333333333333332,
 47.0]

# getting average score with list-comprehension

In [ ]:
def getAverageScore(oneRawScore):
  total=sum(courseScores)
  oneAverageScore=total/len(courseScores)
  return oneAverageScore
getAverageScore(allRawScores)

46.53333333333333

# Updating two lists

In [ ]:
myClassFullNames = [
    "John Smith",
    "Jane Doe",
    "Peter Jones",
    "Mary Williams",
    "Robert Brown",
    "Linda Davis"
]
departmentLastNames = ["Smith", "New"]

In [ ]:
deparmentLastNames=["Smith", "New"]
myClassLastNames=[name.split()[-1] for name in myClassFullNames]
departmentLastNames.extend(myClassLastNames)
print(myClassLastNames)
print(departmentLastNames)

['Smith', 'Doe', 'Jones', 'Williams', 'Brown', 'Davis']
['Smith', 'New', 'Smith', 'Doe', 'Jones', 'Williams', 'Brown', 'Davis']

#Examples of map

In [ ]:
def tripple(x):
  return x*3

In [ ]:
map(tripple, range(10)) #map tells Python to apply the function to each element ONE BY ONE

In [ ]:
list(map(tripple, range(10)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

# Geting average scores with `map`

In [ ]:
allRawScores = [
  [42, 71, 39],
  [5, 73, 89],
  [28, 11, 64],
  [29, 69, 3],
  [33, 88, 9],
  [100, 73, 45],
  [43, 17, 26],
  [84, 56, 70],
  [63, 14, 11],
  [94, 12, 35]]

In [ ]:
def getAverageScore(oneRawScore):
  total=sum(oneRawScore)
  oneAverageScore=total/len(oneRawScore)
  return oneAverageScore

In [ ]:
list(map(getAverageScore, allRawScores))

[50.666666666666664,
 55.666666666666664,
 34.333333333333336,
 33.666666666666664,
 43.333333333333336,
 72.66666666666667,
 28.666666666666668,
 70.0,
 29.333333333333332,
 47.0]

#processing roster with `map`

In [ ]:
rosterLines = [
  '1.John Kim',
 '2.Mary Patel',
 '3.Michael Nguyen',
 '4.Jennifer Garcia',
 '5.David Singh',
 '6.Linda Chen',
 '7.James Lopez',
 '8.Patricia Khan',
 '9.Robert Yamamoto',
 '10.Elizabeth Ibrahim']

In [ ]:
def getLastName(oneLine):
  parts=oneLine.split()
  lastName=parts[-1]
  return lastName

In [ ]:
allLastNames=list(map(getLastName, rosterLines))
allLastNames

['Kim',
 'Patel',
 'Nguyen',
 'Garcia',
 'Singh',
 'Chen',
 'Lopez',
 'Khan',
 'Yamamoto',
 'Ibrahim']

In [ ]:
import os
def createLastNameDir(lastName):
  folderPath=os.path.join("sample_data", lastName)
  os.makedirs(folderPath, exist_ok=True)
  print(f"creating directory at {folderPath}")
  return folderPath

In [ ]:
def getLastName(oneLine):
  parts=oneLine.split()
  lastName=parts[-1]
  return lastName

In [ ]:
allLastNames=map(getLastName, rosterLines)
allFolderPaths=list(map(createLastNameDir, allLastNames))
allFolderPaths

creating directory at sample_data/Kim
creating directory at sample_data/Patel
creating directory at sample_data/Nguyen
creating directory at sample_data/Garcia
creating directory at sample_data/Singh
creating directory at sample_data/Chen
creating directory at sample_data/Lopez
creating directory at sample_data/Khan
creating directory at sample_data/Yamamoto
creating directory at sample_data/Ibrahim

['sample_data/Kim',
 'sample_data/Patel',
 'sample_data/Nguyen',
 'sample_data/Garcia',
 'sample_data/Singh',
 'sample_data/Chen',
 'sample_data/Lopez',
 'sample_data/Khan',
 'sample_data/Yamamoto',
 'sample_data/Ibrahim']

#Course weighted sum example

In [ ]:
allRawScores = [
  [42, 71, 39],
  [5, 73, 89],
  [28, 11, 64],
  [29, 69, 3],
  [33, 88, 9],
  [100, 73, 45],
  [43, 17, 26],
  [84, 56, 70],
  [63, 14, 11],
  [94, 12, 35]]

In [ ]:
weights = [0.1, 0.1, 0.8]

In [ ]:
import operator
def getCourseScoreMap(rawScore):
  weights=[0.1, 0.1, 0.8]
  weightedScores=map(operator.mul, weights, rawScore)
  courseScore=sum(weightedScores)
  return courseScore

In [ ]:
allWeightedScores=[getCourseScoreMap(rawScore) for rawScore in allRawScores]
allWeightedScores

[42.5, 79.0, 55.1, 12.200000000000001, 19.3, 53.3, 26.8, 70.0, 16.5, 38.6]

#Zip two lists example

In [ ]:
rawScore = [80, 90, 60]
weights = [0.1, 0.1, 0.8]

In [ ]:
combined=list(zip(rawScore, weights))
combined

[(80, 0.1), (90, 0.1), (60, 0.8)]

#get weighted scores with `zip`

In [ ]:
def getCourseScoreZip(rawScore):
  weights=[0.1, 0.1, 0.8]
  rawWeightPairs=zip(rawScore, weights)
  weightedScores=[r*w for (r, w) in rawWeightPairs]
  courseScore=sum(weightedScores)
  return courseScore

allCourseScores=[getCourseScoreZip(rawScore) for rawScore in allRawScores]
allCourseScores

[42.5, 79.0, 55.1, 12.200000000000001, 19.3, 53.3, 26.8, 70.0, 16.5, 38.6]

#get weighted course score with `map`

In [ ]:
import operator
def getCourseScoreMap(rawScore):
  weights=[0.1, 0.1, 0.8]
  weightedScores=map(operator.mul, weights, rawScore)
  courseScore=sum(weightedScores)
  return courseScore

allCourseScores=[getCourseScoreMap(rawScore) for rawScore in allRawScores]
allCourseScores

[42.5, 79.0, 55.1, 12.200000000000001, 19.3, 53.3, 26.8, 70.0, 16.5, 38.6]

#only use `map`

In [ ]:
allWeightedScores=list(map(getCourseScoreMap, allRawScores))
allWeightedScores

[42.5, 79.0, 55.1, 12.200000000000001, 19.3, 53.3, 26.8, 70.0, 16.5, 38.6]

discussion section

In [ ]:
firstNames=["Alice", "John", "Jane"]
lastNames=["Kim", "Doe", "Lee"]

In [ ]:
firstLastPairs=[]
for i in range(len(firstNames)):
  first=firstNames[i]
  last=lastNames[i]
  firstLastPairs.append((first, last))
firstLastPairs

[('Alice', 'Kim'), ('John', 'Doe'), ('Jane', 'Lee')]

In [ ]:
def getPair(first, last):
  pair=(first, last)
  return pair

firstLastPairs=list(map(getPair, firstNames, lastNames))
firstLastPairs

[('Alice', 'Kim'), ('John', 'Doe'), ('Jane', 'Lee')]

In [ ]:
def mapTao(inputFunction, firstList, secondList):
  outcome=[]
  for i in range(len(firstList)):
    first=firstList[i]
    second=secondList[i]
    oneOutcome=inputFunction(first, second)
    outcome.append(inputFunction(first, second))
  return outcome

In [ ]:
def add(x, y):
  return x+y

print(mapTao(add, range(3), range(1, 4)))

[1, 3, 5]

In [ ]:
firstLastPairs=zip(firstNames, lastNames)
print(firstLastPairs)
for pair in firstLastPairs:
  print(pair)

<zip object at 0x7ca059c9d5c0>
('Alice', 'Kim')
('John', 'Doe')
('Jane', 'Lee')

In [ ]:
records=[("Alice", 30, "F"), ("Bob", 29, "M"), ("Charlie", 32, "M")]

In [ ]:
names=[oneRecord[0] for oneRecord in records]
ages=[oneRecord[1] for oneRecord in records]
genders=[oneRecord[2] for oneRecord in records]
print(names, ages, genders)

['Alice', 'Bob', 'Charlie'] [30, 29, 32] ['F', 'M', 'M']

In [ ]:
aliceRecord, bobRecord, charlieRecord=records
print(aliceRecord, bobRecord, charlieRecord)

('Alice', 30, 'F') ('Bob', 29, 'M') ('Charlie', 32, 'M')

In [ ]:
print(*records)

('Alice', 30, 'F') ('Bob', 29, 'M') ('Charlie', 32, 'M')

In [ ]:
list(zip(aliceRecord, bobRecord, charlieRecord))

[('Alice', 'Bob', 'Charlie'), (30, 29, 32), ('F', 'M', 'M')]

In [ ]:
names, ages, genders=zip(aliceRecord, bobRecord, charlieRecord)
print(names, ages, genders)

('Alice', 'Bob', 'Charlie') (30, 29, 32) ('F', 'M', 'M')

In [ ]:
poem="""
Fall, leaves, fall; die, flowers, away;
Lengthen night and shorten day;
Every leaf speaks bliss to me
Fluttering from the autumn tree.
I shall smile when wreaths of snow
Blossom where the rose should grow;
I shall sing when night’s decay
Ushers in a drearier day.
"""

In [ ]:
sentences=poem.strip().split(".")
sentences

['Fall, leaves, fall; die, flowers, away;\nLengthen night and shorten day;\nEvery leaf speaks bliss to me\nFluttering from the autumn tree',
 '\nI shall smile when wreaths of snow\nBlossom where the rose should grow;\nI shall sing when night’s decay\nUshers in a drearier day',
 '']

In [ ]:
sentencesWithoutLineBreaker=[s.replace("\n", "") for s in sentences if len(s)>0] #non pythonic
sentencesWithoutLineBreaker

['Fall, leaves, fall; die, flowers, away;Lengthen night and shorten day;Every leaf speaks bliss to meFluttering from the autumn tree',
 'I shall smile when wreaths of snowBlossom where the rose should grow;I shall sing when night’s decayUshers in a drearier day']

In [ ]:
sentenceWords=[s.replace("\n", "") for s in sentences if s] #pythonic
sentenceWords

['Fall, leaves, fall; die, flowers, away;Lengthen night and shorten day;Every leaf speaks bliss to meFluttering from the autumn tree',
 'I shall smile when wreaths of snowBlossom where the rose should grow;I shall sing when night’s decayUshers in a drearier day']

In [ ]:
sentenceWordCounts=[len(words) for words in sentenceWords]
sentenceWordCounts

[133, 128]