In [ ]:
i=1
i=i+1
print(i)

2

In [ ]:
i=1
i+=1
print(i)

2

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(-3, 3):
  print(n)
#for most part in python, in any sequence, start number will likely be included, end number will not

-3
-2
-1
0
1
2

In [ ]:
for i in range(10, 1, -2): #range(start, end, interval)
  print(i)

10
8
6
4
2

In [ ]:
largeIterable=range(1, pow(10, 15))
print(largeIterable)
#lazy evaluation, delay computation until needed, does not generate all numbers unless prompted to save performance and memory
#don't run:
#largeList=list(largeIterable)

range(1, 1000000000000000)

In [ ]:
#sum of 1 to 9
total=0
for i in range(1, 10):
  total=total+i
print(total)

45

In [ ]:
numberList=list(range(1, 10))
total=sum(numberList)
print(total)
#the pythonic way: for any interation, use range and not list

45

In [ ]:
names=["Alice", "Charlie", "Bob", "Adam"]

In [ ]:
for i in range(4):
  oneName=names[i]
  print(oneName)

Alice
Charlie
Bob
Adam

In [ ]:
for i in range(len(names)): #scalability
  oneName=names[i]
  print(oneName)

Alice
Charlie
Bob
Adam

In [ ]:
for eachName in names: #simplicity: FOR every item IN names, print it
  print(eachName)
#better code for just a list

Alice
Charlie
Bob
Adam

In [ ]:
rosterLines=["1. John Doe", "2, Mary Sue", "3. Eva Smith"]

In [ ]:
for oneLine in rosterLines:
  parts=oneLine.split()
  lastName=parts[-1]
  print(lastName)

Doe
Sue
Smith

In [ ]:
roster=[] #empty list
roster

[]

In [ ]:
len(roster)

3

In [ ]:
roster.append("Alice")
roster

['Alice']

In [ ]:
roster.append("Bob") #adds item at end of list
roster

['Alice', 'Bob']

In [ ]:
lastNames=[]
for line in rosterLines:
  parts=line.split()
  lastNames.append(parts[-1])
lastNames

['Doe', 'Sue', 'Smith']

In [ ]:
#define function
def getLastName(line):
  parts=line.split()
  name=parts[-1]
  return name

In [ ]:
#call function
lastNames=[]
for oneLine in rosterLines:
  lineLastName=getLastName(oneLine)
  lastNames.append(lineLastName)
lastNames

['Doe', 'Sue', 'Smith']

In [ ]:
import os
def createLastName(lastName, parentDir):
  fullPath=os.path.join(parentDir, lastName)
  os.makedirs(fullPath, exist_ok=True)
  print("created", (fullPath))

In [ ]:
lastNames=[]
studentFolders=[]
dataDir="sample_data"
for oneLine in rosterLines:
  lineLastName=getLastName(oneLine)
  lastNames.append(lineLastName)
  folderPath=createLastName(lineLastName, dataDir)
  studentFolders.append(folderPath)

created sample_data/Doe
created sample_data/Sue
created sample_data/Smith

In [ ]:
def double(x):
  result=x*2
  return result

In [ ]:
x=10
result=double(x)
print(result)

20

In [ ]:
double(10+40)

100

In [ ]:
double(sum(range(10)))

90

In [ ]:
10*double(5)

100

In [ ]:
def printDouble(x):
  result=x*2
  print(result) #better to use return tho

In [ ]:
outcome=printDouble(10)
print(f"default ouctome of function is {outcome}")
type(outcome) #returns nonetype because function has no return command

20
default ouctome of function is None

NoneType

In [ ]:
outcome2=double(10)
print(f"default ouctome of function is {outcome2}")
type(outcome2) #returns int because function has return

default ouctome of function is 20

int

In [ ]:
def power(base, exponent):
  result=base**exponent
  return result

In [ ]:
power(2, 3)

8

In [ ]:
power(3, 2)

9

In [ ]:
#sample data
user1first="John"
user1last="Doe"
user2first="Jane"
user2last="" #missing data
user3first="William"
user3last="Smith"

#repeated logic for each user
if user1last: #check if string is not empty
  fullname1=user1first.capitalize()+" "+user1last.capitalize()
else:
  fullname1=user1first.capitalize()
print("welcome", fullname1)

if user2last:
  fullname1=user2first.capitalize()+" "+user2last.capitalize()
else:
  fullname1=user2first.capitalize()
print("welcome", fullname1)

if user3last:
  fullname1=user3first.capitalize()+" "+user3last.capitalize()
else:
  fullname1=user3first.capitalize()
print("welcome", fullname1)

welcome John Doe
welcome Jane
welcome William Smith

In [ ]:
def formatFullName(first, last):
  if last:
    fullName=first.capitalize()+" "+last.capitalize()
  else:
    fullName=first.capitalize()
  return fullName

print("welcome", formatFullName(user1first, user1last))
print("welcome", formatFullName(user2first, user2last))
print("welcome", formatFullName(user3first, user3last))

welcome John Doe
welcome Jane
welcome William Smith

In [ ]:
userName="Bob"
timeOfDay="morning"
if timeOfDay=="morning":
  greeting="Good morning "+userName
else:
  greeting="hello "+userName
print(greeting)

Good morning Bob

In [ ]:
def createGreeting(name, timeOfDay):
  if timeOfDay=="morning":
    greeting="Good morning "+name
  else:
    greeting="hello "+name
  return greeting

print(createGreeting("Liz", "morning"))
print(createGreeting("Leo", "afternoon"))

Good morning Liz
hello Leo

In [ ]:
nList=[1, 2, 3, 4]
evenNumbers=[]

for num in nList:
  if num%2==0:
    evenNumbers.append(num)
  else:
    pass
print(evenNumbers)

[2, 4]

In [ ]:
def getEvenNumber(nList):
  evenNumbers=[]
  for num in nList:
    if num%2==0:
      evenNumbers.append(num)
    else:
      pass
  return evenNumbers

print(getEvenNumber([1, 2, 3, 4]))

[2, 4]